/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
    font-weight: bold;
    color: white;               
    background-color: #d2ede8;  
    padding: none;          
    border-radius: 8px;         
    margin: 0;
    font-family: 'Arial', sans-serif; 
    display: inline-block;     
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}

.nav ul {
    list-style: none;
    float: right;
}

.nav ul li {
    display: inline;
    margin-left: 1rem;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a.active {
    text-decoration: underline;
}

/* Main Content Styling */
.main-content {
    padding: 2rem 1rem;
    background: white;
    max-width: 800px;
    margin: 2rem auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-gateway-section {
    text-align: center;
}

h1 {
    color: #2a9d8f;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
    color: #555;
}

.payment-methods {
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.payment-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

select, input[type="text"], input[type="email"] {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
}

.payment-method-info {
    display: none;
    margin-bottom: 2rem;
}

.payment-input-label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.payment-btn {
    padding: 15px 70px;
    background-color: #2a9d8f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    display: block;
    margin: auto;
}

.payment-btn:hover {
    background-color: #247d72;
}

/* Footer Styling */
footer {
    background-color: #2a9d8f;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

footer p {
    margin: 0;
}



.button-link {
    display: inline-block;
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #21867a;
}
